* {
    box-sizing: border-box;
}

body{
    background-color:rgb(245, 244, 244);
    font-family: 'Times New Roman', Times, serif;
}

canvas{
    position: relative;
}

/* Servad */

#top, #bottom, #left, #right {
    background: #B5121B;
    position: fixed;
    opacity: 1;
    z-index: 50;
}

#left, #right {
    top: 0; bottom: 0;
    width: 4px;
}

#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 4px;
}

#top { top: 0; }
#bottom { bottom: 0; }

/* Game with caption */

.logoHeading {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    margin-bottom: 40px;
    margin-top: 120px;
}

h1 {
    color: #B5121B;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    font-style: italic;
    text-transform: uppercase; 
}

.subHeading {
    color: rgb(61, 61, 61);
}

.categoryList {
    display: grid;
    list-style: none;
    grid-template-columns: 152px 152px 152px 152px 152px;
    padding-left: 0;
}

.categoryItem {
    color: rgb(245, 244, 244);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase; 
    background: #B5121B;
    margin: 0 15px;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.gameBody{
    background-color: rgb(245, 244, 244);
    position:relative;
    width: 760px;
    margin: 0 auto;
}

.gameBodySlots{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    z-index: 1;
}

.grid {
    display: grid;
    grid-template-columns: 152px 152px 152px 152px 152px 100px;
}

.gameSlotItem {
    background: rgb(245, 244, 244);  
    border: 1px solid black;
    margin: 0 15px;
    height: 100px;
    overflow: hidden;
}

.gameStart {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    border-radius: 50%;
    background-color: #B5121B;
    border: 1px solid black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    margin: -12px 0 0 12px;
    font-style: italic;
    text-transform: uppercase; 
}

.gameHoldBtn {
    display: grid;
    grid-template-columns: 152px 152px 152px 152px 152px;
    margin-bottom: 20px;
}

.gameHoldItem {
    margin: 10px 15px;
    border: 1px solid black;
    border-radius: 20px; 
    padding: 10px;
}

/* Idea */

.idea {
    position:relative;
    width: 760px;
    margin: 0 auto;
}

.ideaGrid {
    display: grid;
    grid-template-columns: 100px 660px;
    margin-bottom: 20px;
}

.ideaHeading {
    color: rgb(245, 244, 244);
    text-align: center;
    font-style: italic;
    text-transform: uppercase; 
    background: #B5121B;
    border-radius: 20px 0 0 20px;
    margin: 0 0 0 10px;
    padding-top: 18px; 
}

.ideaText {
    border: 1px solid black;
    border-radius: 0 20px 20px 0; 
    padding: 10px;
    margin: 0 10px;
    font-size: 1.1em;
}

h3 {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 30px;
}

/* Menu */

.menuList {
    display: grid;
    list-style: none;
    grid-template-columns: 152px 152px 152px 152px 152px;
    margin: 0 auto;
    width: 760px;
    padding-left: 0;
    margin-bottom: 30px;
}

.menuItem {
    border: 1px solid black;
    font-style: italic;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 0 15px;
    font-size: 1.2em;
}

.logoTLU {
    position: relative;
    left: 50%;
    margin-left: -200px; 
    width: 400px;
    height: 100px;
}


a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}




    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 300px; /* Full width */
    height: 600px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

    /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #B5121B;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #B5121B;
    color: white;
}

.reveal-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loaderBody{
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: black;
}
