* {
    box-sizing: border-box;
}

body{
    background-color:rgb(253, 253, 253);
    font-family: 'Times New Roman', Times, serif;
}

canvas{
    position: relative;
}



/* Servad */

#top, #bottom, #left, #right {
    background: #B5121B;
    position: fixed;
    opacity: 1;
    z-index: 0;
}

#left, #right {
    top: 0; bottom: 0;
    width: 4px;
}

#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 4px;
}

#top { top: 0; }
#bottom { bottom: 0; }

/* Game with caption */

.logoImg {
    display: block;
    margin: 0 auto;
    max-width: 15%;
    margin-bottom: 40px;
}

.logoHeading {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 35%;
}

h1 {
    color: #B5121B;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    font-style: italic;
    text-transform: uppercase; 
}

.subHeading {
    color: rgb(61, 61, 61);
}

.categoryList {
    display: grid;
    list-style: none;
    grid-template-columns: 152px 152px 152px 152px 152px;
    padding-left: 0;
    margin-bottom: 5px;
}

.categoryItem {
    color: rgb(253, 253, 253);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase; 
    background: #B5121B;
    margin: 0 15px;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}


#description {
    background-color: rgb(181,18,27,0.2);
    text-align: center;
    display: block;
    position: relative;
    padding: 1em 1em 1em 0em;
    overflow: hidden;
    box-shadow: .7em .7em 0 rgba(0, 0, 0, 0.1);
    transition: all .3s;

}

#program {

    background-color:rgb(253,245,230,0.2);
    text-align: center;
    display: block;
    position: relative;
    padding: 1em 1em 1em 0em;
    overflow: hidden;
    box-shadow: .7em .7em 0 rgba(0, 0, 0, 0.1);
    transition: all .3s;
}

#info {
    background-color:rgb(139,136,120);
    text-align: center;
    display: block;
    position: relative;
    padding: 1em 1em 1em 0em;
    overflow: hidden;
    box-shadow: .7em .7em 0 rgba(0, 0, 0, 0.1);
    transition: all .3s;
}



div .headings {
    font-size: 1em;
    font-weight: 400;
    font-family: "Arial";
    color:#333333;
    padding: .7em 1.6em;
    margin: 0;
    line-height: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
  }
  
  div .headings {
    -webkit-transform: rotate(90deg) translateX(20px);
    -moz-transform: rotate(90deg) translateX(20px);
    -ms-transform: rotate(90deg) translateX(20px);
    -o-transform: rotate(90deg) translateX(20px);
    transform: rotate(90deg) translateX(20px);
    -webkit-transform-origin: 1.8em .5em;
    -moz-transform-origin: 1.8em .5em;
    -ms-transform-origin: 1.8em .5em;
    -o-transform-origin: 1.8em .5em;
    transform-origin: 1.8em .5em;
  }


.gameBody{
    background-color: rgb(253, 253, 253);
    position:relative;
    width: 760px;
    margin: 0 auto;
}

.gameBodySlots{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    z-index: 1;
}

.gameGrid {
    display: grid;
    grid-template-columns: 152px 152px 152px 152px 152px 100px;
}

.gameSlotItem {
    background: rgb(253, 253, 253);  
    border: 1px solid black;
    margin: 0 15px;
    height: 100px;
    overflow: hidden;
    box-shadow: inset 0 0 4px #c5c4c4;
}

.gameStart {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    border-radius: 50%;
    background-color: #B5121B;
    border: 1px solid black;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 2em;
    margin: -25px 0 0 20px;
    font-style: italic;
    text-transform: uppercase; 
}

.gameHoldBtn {
    display: grid;
    grid-template-columns: 152px 152px 152px 152px 152px;
    margin-bottom: 20px;
}


/* Button blinking */

.blinking b{
    color: #FFFAFA;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #a01b1b, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 5px 3px #000;
  }
  .blinking b span{
    animation: blink linear infinite 5s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color:rgb(216, 25, 34);
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: rgb(202, 29, 37);
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92.5% {
      color: #B5121B;
      text-shadow: none;
    }

  }

.gameHoldItem {
    margin: 0px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 15px; 
    padding: 10px;
}


/* Idea */

.idea {
    position:relative;
    width: 760px;
    margin: 0 auto;
}

.ideaGrid {
    display: grid;
    grid-template-columns: 100px 660px;
    margin-bottom: 10px;
}

.ideaHeading {
    color: rgb(253, 253, 253);
    text-align: center;
    font-style: italic;
    text-transform: uppercase; 
    background: #B5121B;
    border-radius: 15px 0 0 15px;
    margin: 0 0 0 15px;
    padding-top: 12px; 
    box-shadow: 1px 1px 10px rgb(209, 209, 209);
}

.ideaText {
    border: 1px solid black;
    border-radius: 0 15px 15px 0; 
    padding: 5px;
    margin: 0 15px 0 10px;
    font-size: 1.1em;
    box-shadow: 1px 1px 10px rgb(209, 209, 209);
}

h3 {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 0;
}

/* Menu */

.menuList {
    display: grid;
    list-style: none;
    grid-template-columns: 152px 152px 152px 152px 152px;
    margin: 0 auto;
    width: 760px;
    padding-left: 0;
    margin-bottom: 20px;
}

.menuItem {
    border: 1px solid rgb(10, 10, 10);
    font-style: italic;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: 500;
    background-color: rgb(243, 243, 243);
}

.menuR {
    background-color: #B5121B;
}

.logoTLU {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 16%;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Menu underline */

.menuItem {
    display: inline-block;
    color: #B5121B;
    text-decoration: none;
}

.menuItem::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #B5121B;
    transition: width .3s;
}

.menuItem:hover::after {
    width: 100%;
}

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Middle of screen*/
    z-index: 15; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 50%;
    top: 50%;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0,0,0,0.4); /* Black w/ opacity */
    transform: translate(-50%, -50%);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

    /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #B5121B;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #B5121B;
    color: white;
}



.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loaderBody{
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Min-width 1500 */

@media (min-width:1500px) {

    .logoImg {
        margin-top: 30px;
        margin-bottom: 60px;
        display: block;
    }

    .categoryList {
        margin-top: 20px;
    }

    .gameHoldBtn {
        margin-bottom: 60px;
    }

    .ideaGrid {
        margin-bottom: 40px;
    }

    h3 {
        font-size: 2.2em;
        margin-bottom: 60px;
    }

    .menuList {
        margin-bottom: 60px;
    }

}



/* Max-width 1100 */

@media all and (max-width:1100px) { 

    .logoImg {
        max-width: 15%;
    }
    
    .logoHeading {
        max-width: 45%;
    }

    .logoTLU {
        max-width: 25%;
    }

}

/* Medium screens */
@media all and (max-width: 800px) {

    /* .categoryList,
    .gameBodySlots,
    .gameHoldBtn {
        display: block;
    }

    .gameBody {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
        grid-auto-rows: auto auto auto auto auto;
    }

    .ciTarget {
        grid-column: 1;
        grid-row: 1;
    }

    .ciNeed { 
        grid-column: 1;
        grid-row: 2;
    }

    .ciGenre {
        grid-column: 1;
        grid-row: 3;
    }

    .ciDesign {
        grid-column: 1;
        grid-row: 4;
    }

    .ciLearning {
        grid-column: 1;
        grid-row: 5;
    }

    .gsTarget {
        grid-column: 1;
        grid-row: 1;
    }

    .gsNeed { 
        grid-column: 1;
        grid-row: 2;
    }

    .gsGenre {
        grid-column: 1;
        grid-row: 3;
    }

    .gsDesign {
        grid-column: 1;
        grid-row: 4;
    }

    .gsLearning {
        grid-column: 1;
        grid-row: 5;
    } */

    .idea {
        display: block;
        width: 80%;
        margin: 0 auto;
        max-width: 600px;
    }

    .ideaGrid {
        display: flex;
        flex-direction: column;
    }

    .ideaHeading {
        border-radius: 5px;
        margin: 0 auto 5px auto;
        padding: 10px;

    }

    .ideaText {
        border-radius: 5px;
        margin:0 auto 10px auto;
    } 

    h3 {
        font-size: 1.4em;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .menuList {
        display: flex;
        max-width: 90%;
        justify-content: center;
    }
}

@media all and (max-width: 500px) {
    .menuList {
        max-width: 40%;
        flex-direction: column;
    }

    .menuItem {
        margin-bottom: 5px;
        font-size: 1em;
    }

    .logoImg {
        max-width: 20%;
        margin-bottom: 20px;
    }
    
    .logoHeading {
        max-width: 65%;
    }

    .logoTLU {
        max-width: 45%;
    }

}